In [35]:
# Import some useful functions
from numpy import *
from numpy.random import *
from datascience import *

# Customize look of graphics
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

# Force display of all values 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Here is the table of schools with info from the frpm file

**PART 1**

In [36]:
#We call the function Table().read_table() on the frpm file name that should be in the same folder as this notebook.
#We then assign this to a variable (I chose the variable name schools) so we can use it later on
schools = Table().read_table("school_data_frpm.csv")
schools

Academic Year | County Code | District Code | School Code | County Name | District Name                      | School Name
2021-2022     | 1           | 10017         | 130419      | Alameda     | Alameda County Office of Education | Alameda County Community
2021-2022     | 1           | 10017         | 130401      | Alameda     | Alameda County Office of Education | Alameda County Juvenile Hall/Court
2021-2022     | 1           | 10017         | 130625      | Alameda     | Alameda County Office of Education | Alternatives in Action
2021-2022     | 1           | 10017         | 137448      | Alameda     | Alameda County Office of Education | Aurum Preparatory Academy
2021-2022     | 1           | 10017         | 123968      | Alameda     | Alameda County Office of Education | Community School for Creative Education
2021-2022     | 1           | 10017         | 136101      | Alameda     | Alameda County Office of Education | Connecting Waters Charter - East Bay
2021-2022     | 1           | 10017         | 6001788     | Alameda     | Alameda County Office of Education | Cox Academy
2021-2022     | 1           | 10017         | 112607      | Alameda     | Alameda County Office of Education | Envision Academy for Arts & Technology
2021-2022     | 1           | 10017         | 138867      | Alameda     | Alameda County Office of Education | Hayward Collegiate Charter
2021-2022     | 1           | 10017         | 6002000     | Alameda     | Alameda County Office of Education | Lazear Charter Academy
... (10548 rows omitted)

**This is the focal schools table downloaded from the google sheet**

In [37]:
#Assign our focal school data to a variable as well by calling Table.read_table("file name of focal school data")
focal_schools = Table.read_table('school_selection')
focal_schools

County     | County Code | District | District Code | Focal School Name           | School Code | Type of School | Start Grade | End Grade | Enrollment
Sacramento | nan         | nan      | nan           | Cordova HS                  | nan         | High School    | 9           | 12        | nan
Sacramento | 34          | 67330    | 6.05919e+06   | Mills MS                    | nan         | Middle School  | 7           | 8         | 1,851
Sacramento | nan         | nan      | nan           | Geer ES                     | nan         | Elementary     | 1           | 6         | 414
Monterey   | nan         | nan      | nan           | Pacific Grove Middle School | nan         | Middle School  | 6           | 8         | 621
Monterey   | nan         | nan      | nan           | Creekside Elementary School | nan         | Elementary     | PK          | 4         | 616
Monterey   | nan         | nan      | nan           | Chualar Elementary School   | nan         | Elementary     | K           | 8         | 305
Mono       | nan         | nan      | nan           | Mammoth High School         | nan         | High School    | 9           | 12        | 363
Mono       | nan         | nan      | nan           | Mammoth Middle School       | nan         | Middle School  | 6           | 8         | 243
Mono       | nan         | nan      | nan           | Coleville High School       | nan         | High School    | 9           | 12        | 72
Mono       | nan         | nan      | nan           | Lee Vining High School      | nan         | High School    | 9           | 12        | 49
... (96 rows omitted)

**PART 2: Selecting the School Names from the focal schools table**

In [38]:
#Before we combine, we want to get a table of just the focal school names. We select just the name portion of the 
# focal_schools table using .select. We then found the number of rows using .num_rows (you don't need to do this)
#NOTE: WHILE DOING THIS STEP WE DID NOT YET HAVE THE SCHOOL CODE. IF THE SCHOOL CODE IS AVALIABLE FOR THE FOCAL SCHOOLS
# USE THAT INSTEAD OF THE SCHOOL NAME. In that case you would use the line:
# focal_school_codes = focal_schools.select("School Code")
focal_school_names = focal_schools.select("Focal School Name")
focal_schools.select("Focal School Name").num_rows
focal_school_names

106

Focal School Name
Cordova HS
Mills MS
Geer ES
Pacific Grove Middle School
Creekside Elementary School
Chualar Elementary School
Mammoth High School
Mammoth Middle School
Coleville High School
Lee Vining High School
... (96 rows omitted)

**PART 3: Combining the Names from the focal school table with the rest of the data in the frpm table**
We only want columns with variables we do not already have for the school. To do this, we first make an array with all 
the different variables we have so far and each time we add a new table to data, we drop these columns using tbl.drop

In [39]:
variables = make_array("Academic Year", "County Code", "District Code", "School Name", "District Name", "County Name")

In [40]:
#We take the 2 columns that are the same between 2 tables, focal_schools and schools. We then use .join on those 2 
#tables combine the data into one big table. Notation is: table_a("tableA column name", tableB, "tableB column name")
#Remember, in this example we are using school name, use school code if avaliable
combined = focal_school_names.join("Focal School Name", schools, "School Name")
combined.show()

Note: Everytime you add a new table, get the columns and assign that to variables.

**PART 4: Using the UPC File, combining data from other spreadsheets will look like this**
I am using the UPC File as an example. We will read the table in and assign it to a variable. Then we will join the data with the focal schools data we have. We use .drop to get rid of redundant varaibles

In [41]:
UPC = Table.read_table('UPC_data.csv').drop(variables)
UPC

/opt/conda/lib/python3.9/site-packages/datascience/tables.py:1252: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if i not in exclude and c not in exclude])

School Code | District Type                    | School Type                        | Educational
Option Type | NSLP
Provision
Status | Charter
School
(Y/N) | Charter Number | Charter Funding Type | IRC  | Low Grade | High Grade | Total
Enrollment
(Grades 9-12) | CALPADS Unduplicated
Pupil Count
(CUPC)
(Grades 9-12) | CALPADS Unduplicated Pupil Percentage (CUPP)
(Grades 9-12) | CUPP
75% or more
(Grades 9-12)
(Y/N) | CALPADS Fall 1
Certification Status
(Y/N)
6115679     | Unified School District          | Elementary Schools (Public)        | Traditional              | Not Participating       | No                     | nan            | nan                  | N    | K         | 4          | 1                               | 0                                                      | 0.00%                                                      | N                                     | Y
1           | Unified School District          | nan                                | nan                      | nan                     | nan                    | nan            | nan                  | nan  | nan       | nan        | 1                               | 0                                                      | 0.00%                                                      | N                                     | Y
1           | Unified School District          | nan                                | nan                      | nan                     | nan                    | nan            | nan                  | nan  | nan       | nan        | 1                               | 0                                                      | 0.00%                                                      | N                                     | Y
0           | Unified School District          | nan                                | nan                      | nan                     | nan                    | nan            | nan                  | nan  | K         | 12         | 17                              | 0                                                      | 0.00%                                                      | N                                     | Y
0           | Unified School District          | nan                                | nan                      | nan                     | nan                    | nan            | nan                  | nan  | K         | Adult      | 1                               | 0                                                      | 0.00%                                                      | N                                     | Y
0           | High School District             | nan                                | nan                      | nan                     | nan                    | nan            | nan                  | nan  | 7         | 12         | 6                               | 0                                                      | 0.00%                                                      | N                                     | Y
1           | Unified School District          | nan                                | nan                      | nan                     | nan                    | nan            | nan                  | nan  | nan       | nan        | 5                               | 0                                                      | 0.00%                                                      | N                                     | Y
1           | Unified School District          | nan                                | nan                      | nan                     | nan                    | nan            | nan                  | nan  | nan       | nan        | 4                               | 0                                                      | 0.00%                                                      | N                                     | Y
1           | Unified School District          | nan                                | nan                      | nan                     | nan                    | nan            | nan                  | nan  | nan       | nan        | 5                               | 0                                                      | 0.00%                                                      | N                                     | Y
6069934     | County Office of Education (COE) | Special Education Schools (Public) | Special Education School | nan                     | No                     | nan            | nan                  | N    | K         | 12         | 4                               | 0                                                      | 0.00%                                                      | N                                     | Y
... (3005 rows omitted)

In [42]:
#We use the school code variable to join the 2 datasets together. 
combined_UPC = combined.join("School Code", UPC, "School Code")
combined_UPC

School Code | Focal School Name     | Academic Year | County Code | District Code | County Name | District Name         | District Type              | School Type           | Educational
Option Type | NSLP
Provision
Status | Charter
School
(Y/N) | Charter Number | Charter Funding Type | IRC  | Low Grade | High Grade | Total
Enrollment
(Grades 9-12) | CALPADS Unduplicated
Pupil Count
(CUPC)
(Grades 9-12) | CALPADS Unduplicated Pupil Percentage (CUPP)
(Grades 9-12) | CUPP
75% or more
(Grades 9-12)
(Y/N) | CALPADS Fall 1
Certification Status
(Y/N)
132746      | Emery Secondary       | 2021-2022     | 1           | 61168         | Alameda     | Emery Unified         | Unified School District    | High Schools (Public) | Traditional              | nan                     | No                     | nan            | nan                  | N    | 9         | 12         | 176                             | 154                                                    | 87.50%                                                     | Y                                     | Y
135756      | Thompson Peak Charter | 2021-2022     | 18          | 64196         | Lassen      | Susanville Elementary | Elementary School District | K-12 Schools (Public) | Traditional              | nan                     | Yes                    | 2066           | Directly funded      | Y    | K         | 12         | 59                              | 34                                                     | 57.63%                                                     | N                                     | Y

In [43]:
#Now since we have new variables added, we add this to variables by getting all the column names (.lables) and assigning
#it to variables 
variables = make_array(combined_UPC.labels)